 <!DOCTYPE html>
 <head>
     <link rel="stylesheet" href="/bootstrap/bootstrap.min.css">
     <link rel="stylesheet" href="style.css">
     <title>Hello, world!</title>
 </head>
 <body>
      
     {{{body}}}

     <script src="/dist/jquery.min.js"></script>
     <script src="/bootstrap/bootstrap.min.js"></script>
 </div>
 </body>
 </html>