<div class="container">
    <div class="row">
        <div class="col-10 text-center">
            {{>msg}}
            <h1>hello world, I want to change the world</h1>
            <p><i>~"Education is the weopon which you can use to chang the world"</i></p>
        </div>
    </div>
</div>